@model IEnumerable<webBasic.Models.DonutOrder>

@{
    ViewData["Title"] = "ShowAllDonuts";
}

<h1>ShowAllDonuts</h1>

<p>
    <a asp-action="AddAllDonuts">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyDonuts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyCoffee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyDonuts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyCoffee)
            </td>
            <td>
                @Html.ActionLink("Details", "ShowDonut", new { id = item.OrderID })
            </td>
        </tr>
}
    </tbody>
</table>
